body {
    font-family: cursive;
    background-color: black;
    margin-top: 75px;
}
 .container{
                 max-width: 800px;
                 margin: 0 auto;
                 COLOR: #820d96;
    font-family: cursive;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    
             }
             
.img-medium {
    height: 200px;
}
