body {
    font-family: cursive;
    background-color: black;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
btn{
    width: 100px;
    height: 30px;
    background-color:#820d96;
    border: solid 1px #820d96 ;
    border-radius: 5px;
    
}
